.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	@media screen and (max-width: 990px) {
		justify-content: center;
	}
}
.gridWrapper {
	padding: 0px 30px 40px;
}
.gridContainer {
	margin-top: 18px;
}
.gridHeader {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.toggleText {
	cursor: pointer;
	color: var(--color-primary);
}

.tabs {
	color: var(--color-white);
	border-color: var(--color-primary);
}