.cardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 2rem;
	width: 96%;
	margin: 0 auto;
}
.cardContent {
  display: flex;
	flex-direction: column;
	width: 13vw;
	height: 300px;
	@media screen and (max-width: 480px) {
		width: 50vw;
	}
	@media screen and (min-width: 481px) and (max-width:767px) {
		width: 40vw;
	}
	@media screen and (min-width:768px) and (max-width: 990px) {
		width: 25vw;
	}
}
.card {
	background-color: var(--color-white);
	border-radius: 10px;
	height: 100%;
	gap: 5px;
}

.cardImage {
	width: 100%;
	height: 225px;
}
.cardImage img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.cardText {
	display: flex;
	align-items: center;
	height: 50px;
}

.cardText p {
	background-color: var(--color-black);
	color: var(--color-white);
	border: var(--color-black);
	border-radius: 5px;
	padding: 4px 8px;
	margin-left: 5px;
}

.cardTitle{
	color: var(--color-white);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}