.search {
	/* padding: 14px 20px; */
	border-radius: 8px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	/* border: 1px solid var(--color-black); */
	width: 40vw;
	background-color: var(--coolor-white);
	/* height: 100%; */
	@media screen and (max-width: 767px) {
		width: 60vw;
	}
}

.wrapper {
	display: flex;
	align-items: center;
	height: 48px;
}

.searchButton {
	border-radius: 0 8px 8px 0;
	padding: 14px 20px;
	border: 1px solid var(--color-black);
	border-left: none;
	cursor: pointer;
	height: 100%;
}