.wrapper {
	display: flex;
	background: #121212;
	box-shadow: 0px -2px 6px 0px rgba(255, 255, 255, 0.35);
	column-gap: 5rem;
	padding: 1rem;     
}
.albumDetails{
	display: flex;
	column-gap: 0.5rem;
}
.songDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	white-space: nowrap;
}
.songDetails p {
	font-size: 0.75rem;
}

.player {
  width: 60%;
}
.rhap_container {
	background-color: var(--color-black);
}

 