:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;
}
*, 
*::before, 
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body{
  background-color: var(--color-black);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--color-white);
  overflow-x: hidden;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.swiper-slide {
  width: auto !important;
}